<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>nu app</title>
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>
    <section id="nuApp">
        <h1 class="page-title">nu app!!!!</h1>
        <form id="formDrunks">
	    	<h2>Usuarios</h2>
	    	<input type="text" name="nombre" placeholder="Nombre" required />
	    	<input type="text" name="genero" placeholder="Género" required />
	    	<input type="text" name="peso" placeholder="Peso" required />
	    	<input type="submit" value="Submit"/>
	    </form>
	    
	    <form id="formDrinks">
	    	<h2>Bebidas</h2>
	    	<input type="text" name="nombre" placeholder="Nombre" required />
	    	<input type="text" name="graduacion" placeholder="Graduación" required />
	    	<input type="text" name="volumen" placeholder="Volumen" required />
	    	<input type="text" name="precio" placeholder="Precio" required />
	    	<input type="text" name="logo" placeholder="Logo" required />
	    	<input type="submit" value="Submit"/>
	    </form>
	    
	    <ol id="drunk-list"></ol>
	    
    </section>
    <footer class="page-footer "></footer>
    

	<script type="text/template" id="usuario-template">
		<section class="drunk-data">
			<p><strong>Nombre:</strong>&nbsp;<%= nombre %></p>
			<p><strong>Género:</strong>&nbsp;<%= genero %></p>
			<p><strong>Peso:</strong>&nbsp;<%= peso %></p>
		</section>
	</script>


    <script type="text/template" id="footer-template">
        <p>Nu Peinado Hilinger <%= fecha %>.</p>
    </script>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Underscore -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
<!-- Backbone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
<!-- BackboneFire -->
<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>
    
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>