<!doctype html>
<html lang="es">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mi app con Backbone.js | IconFUNd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--pageMeta-->

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="css/main.css" rel="stylesheet">
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <!--headerIncludes-->
     
    
</head>
	<body>
		<div id="page">
			<div id="header-template">
		        <div class="wrapper">
    				<div class="container">
    					<h1 class="page-title"> IconFUNd</h1>
    								
    						<div id="navbar-collapse-02" class="collapse navbar-collapse">
    							<ul class="nav navbar-nav">		
    								<li class="propClone"><a class="menu-item" href="#inicio">Inicio</a></li>
    								<li class="active propClone"><a href="#" class="menu-item">Gallery</a></li>
    								<li class="propClone"><a href="#" class="menu-item">Ranking</a></li>
    							</ul> 		      
    							<ul class="nav navbar-nav navbar-right">
    								<li class="propClone">
    									<a href="#" class="menu-item">Log In <span class="fa fa-lock"></span></a>
    									<form id="formUserRegister">
									    	<h2>Rellena el formulario</h2>
									    	<input type="text" name="Nombre" placeholder="Nombre de usuario" required />
									    	<input type="email" name="Email" placeholder="Introduce tu email" required/>
									    	<input type="pass" name="Password" placeholder="Contraseña" required/>
									    	<input type="submit" value="Submit"/>
									    </form>
    								</li>
    							</ul>
    						</div><!-- /.navbar-collapse -->
    					
    					</div><!-- /.container -->
    				
    				</div><!-- /.container -->
    			</div><!-- /.wrapper -->
			</div>
		
      <div id="body-template">
      	<div class="container">
        	<div class="row margin-bottom-40">
	  				<div class="col-md-12">
	  					<p class="lead text-center editContent">
	  						Bienvenido a IconFUNd, el portal donde encontrar los mejores diseños de paquetes de iconos.
	  						¡Elige tu favorito o sube tu propio pack y comparte!
	  					</p>
	  				</div><!-- /.col-md-12 -->
  				</div><!-- /.row -->
  				
  				<div id="user-list"></div>
  			
  				<script type="text/template" id="user-template">
						<div class="col-md-6"><strong>Nombre:</strong>&nbsp;<%= nombre %></div>
						<div class="col-md-6"><strong>Email:</strong>&nbsp;<%= email %></div>
					</script>



    
    
      	</div>
      </div>
	       
	       
	   </div><!-- #page -->
		
		<script type="text/template" id="footer-template">
	        <p>IconFUNd. All rights reserved.</p>
		</script>
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
		
		<script type="text/javascript" src="js/app.js"></script>
    <!--<script src="js/routers/router.js"></script>-->
		<!-- Firebase -->
		<script src="//cdn.firebase.com/js/client/2.0.3/firebase.js"></script>

		<!-- BackboneFire -->
		<script src="//cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>
	
	</body>
</html>