/* general styles */

p {
	font-size: 16px;	
}

h1 {
	font-size: 34px;
	line-height: 54px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

.light {
	font-weight: 400;
}

form .row {
	margin-bottom: 20px;
}

#page {
	
}

.item {
	
}

.item.header {
	padding-bottom: 50px;
}

.item.content, .item.portfolio, .item.team, .item.pricing, .item.contact {
	padding-top: 60px;
	padding-bottom: 60px;
}

.item.footer {
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-100 {
	padding-top: 180px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.width-100 {
	width: 100%;
}

header .navbar.plain li.active a {
	color: #1ABC9C;
}

header .navbar-white {
	background: #fff;
}

header .navbar-white a {
	color: #3D566E;
}


*===================================================================================*/
    /*	BUTTONS
/*===================================================================================*/

    .btn {
        /* color: #FFF; */
        /* padding: 10px 20px; */
        /* margin: 15px 0; */
        /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
        /* font-size: 14px; */
        /* font-weight: 600; */
        /* letter-spacing: 0.1em; */
        /* text-shadow: none; */
        /* border: none; */
        /* text-transform: uppercase; */
        /* border-radius: 4px; */
        /* -webkit-border-radius: 4px; */
        -moz-border-radius: 4px;
    }

    .btn-sm {
        padding: 7px 13px;
        font-size: 12px;
    }

    .btn-lg {
        /* padding: 16px 26px; */
        /* font-size: 16px; */
    }

    .btn-xl {
        padding: 18px 30px;
        font-size: 24px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }

    h1 .btn,
    h2 .btn,
    h3 .btn,
    h4 .btn,
    p .btn {
        margin-left: 15px;
    }

    /* Button DISABLED */
    .disabled a {
        cursor: not-allowed;
    }

    /* Button DEFAULT */
    .btn.btn-default {
        background: #ecf0f1;
        box-shadow: 0 2px #bdc3c7;
        color: #999;
    }

    .btn.btn-default:hover {
        background: #bdc3c7;
    }

    /* Button PRIMARY */
    .btn.btn-primary {
        /* background: #1abc9c; */
        /* box-shadow: 0 2px #16a085; */
    }

    .btn.btn-primary:hover {
        background: #16a085;
    }

    /* Button WARNING */
    .btn.btn-warning {
        background: #f1c40f;
        box-shadow: 0 2px #f39c12;
    }

    .btn.btn-warning:hover {
        background: #f39c12;
    }

    /* Button DANGER */
    .btn.btn-danger {
        background: #e74c3c;
        box-shadow: 0 2px #c0392b;
    }

    .btn.btn-danger:hover {
        background: #c0392b;
    }

    /* Button SUCCESS */
    .btn.btn-success {
        background: #2ecc71;
        box-shadow: 0 2px #27ae60;
    }

    .btn.btn-success:hover {
        background: #27ae60;
    }

    /* Button DARK */
    .btn.btn-dark {
        background: #34495e;
        box-shadow: 0 2px #2c3e50;
        color: #ffffff;
    }

    .btn.btn-dark:hover {
        background: #2c3e50;
    }

    /* Button INFO */
    .btn.btn-info {
        background: #3498db;
        box-shadow: 0 2px #2980b9;
    }

    .btn.btn-info:hover {
        background: #2980b9;
    }

    /* Outline Buttons */
    .btn-outline {
        color: #FFF;
        padding: 12px 20px;
        margin: 15px 0;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1em;
        text-shadow: none;
        border: none;
        text-transform: uppercase;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
    }

    .btn-outline:hover {
        text-decoration: none;
        color: #ffffff;
    }

    .btn-outline-sm {
        padding: 5px 13px;
        font-size: 13px;
    }

    .btn-outline-lg {
        padding: 14px 26px;
        font-size: 15px;
    }

    .btn-outline-xl {
        padding: 18px 30px;
        font-size: 24px;

    }

    .btn-outline.outline-light,
    .icon.outline-light {
        color: #ffffff;
        background: none;
        border: 2px solid #ffffff;
    }

    .btn-outline.outline-light:hover,
    .icon.outline-light:hover {
        color: #2c3e50;
        background: #ffffff;
    }

    .btn-outline.outline-dark,
    .icon.outline-dark {
        color: #2c3e50;
        background: none;
        border: 2px solid #2c3e50;
    }

    .btn-outline.outline-dark:hover,
    .icon.outline-dark:hover {
        color: #ffffff;
        background: #2c3e50;
    }

    button:hover {
        text-decoration: none;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }


/* maps */
#map-canvas {
    height: 100%;
    margin: 0;
    padding: 15px;
    width: 100%;
    
}

.row {
    margin-left: 0;
    margin-right: 0;
}


.editContent{
   /* margin-top:100px;*/
}

/* videos */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoWrapper > .frameCover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: none;
}