<div class="cabecera clearfix">
    <h1>Hola <%= nombre %>, este es tu calendario</h1>
    
    <form>
        <select id="mes">
            <option selected>Elige un mes</option>
            <% for (var i = 0; i < meses.length; i++) {%>
            <option value="<%=i %>"><%= meses[i] %></option>
            <% } %>
        </select>
    </form>
</div>





<% if (mesElegido !== null) { %>
<div class="calendario clearfix">
    <h2>Has elegido el mes de <%=meses[mesElegido] %></h2>
    <ol>
        <li class="titulo">Lunes</li>
        <li class="titulo">Martes</li>
        <li class="titulo">Miércoles</li>
        <li class="titulo">Jueves</li>
        <li class="titulo">Viernes</li>
        <li class="titulo">Sábado</li>
        <li class="titulo">Domingo</li>
        <% for (var i = 0; i < diasDelMesElegido; i++) { %>
            <li class="dia" data-day="<%= i + 1 %>" data-month="<%=Number(mesElegido)+1%>" data-year="2015"><%= i + 1 %></li>
        <% } %>
    </ol>
</div>
<% } %>


