
*{
    font-family: arial, sans-serif;
}


h2{
  font-size: 16px;  
}

ol,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-wrapper {
    overflow: hidden;
    width: 100%;
}
.menu-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em 1em 0;
    width: auto;
}
.menu-item a{
    color: #666;
    font-size: 16px;
    font-weight: bold;
}

#users-list{
    margin: 1em 0 2em 0;
}

#users-list p{
    width: auto;
    display: inline-block;
    vertical-align:  middle;
    margin: 1em .5em 0 0;
    font-size: 14px;
}